<h1> @<%= @user.username %>'s Profile and Pweets</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card text-white bg-warning mb-3 text-center" style="max-width: 18rem;">
        <% if @user.avatar.blank? == false %>
          <p><%= image_tag @user.avatar.url, size:180, class: "user-pic-nav" %> </p>
        <% end %>
        <% if current_user.following.include?(@user.id) %>
		        <p align='center'><%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger", id: "unfollow_btn" %></p>
	       <% else %>
		       <% if current_user.id != @user.id %>
			        <p align='center'><%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %></p>
		       <% end %>
	       <% end %>
         <div class="card-body">
		         <h5 class="card-title"><strong><%= @user.name %></strong></h5>
		         <h4 class="card-title">@<%= @user.username %></h4>
		         <p class="card-text">Email:<%= @user.location%><br/>Location:<%= @user.location%><br/><%= @user.bio %></p>
		         <%= link_to "Followers", followers_path(id: @user.id), class: "btn btn-default" %>
		         <%= link_to "Following", following_path(id: @user.id), class: "btn btn-default" %>
         </div>
      </div>
    </div>
    <div class="col-md-9">
          <h2>@<%= @user.username %>'s Tweets</h2>
            <% @user.tweets.reverse.each do |tweet| %>
              <div class="panel panel-default">
 	 		           <div class="panel-heading"><em>Posted <%= time_ago_in_words(tweet.created_at) %>&nbspago</em>
                 </div>
 	 		           <div class="panel-body">
 	 			             <%= tweet.message.html_safe %>
                 </div>
 		          </div>
            <%end %>
    </div>
  </div>
</div>
